{% extends "dozenDuty_app/base.html" %}
{% block content %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root2"></div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
    <h1> This is the Chores page </h1>
    <ul id = "demo">
    </ul>
    <ul id = "prices"></ul>

    <script>
      var myJSON = `[
                      {"name":"Lemons", "price":1.45, "Expiring in":"1 week"},
                      {"name":"Coca-cola", "price":0.99, "Expiring in":"never"},                 
                      {"name":"Ben & Jerry Ice Cream", "price":4.99, "Expiring in":"2 months if frozen"}

                    ]`;
      var obj = JSON.parse(myJSON);
      var node = document.createElement("LI");

      for (var elem = 0; elem < myJSON.length; elem++) {
        //console.log(obj.name);
        var textnode = document.createTextNode(obj[elem].name + ": ");
        node.appendChild(textnode);
        document.getElementById("demo").appendChild(node);

        var pricenode = document.createTextNode("$" + obj[elem].price + ". ");
        node.appendChild(pricenode);
        document.getElementById("prices").appendChild(node);

      }              

      // var i;
      // for(i = 0;i < myJSON.length; i++) {
      //   var grocery = JSON.parse(myJSON)
      //   console.log(grocery[i].name);
      // }
      // var myobj = JSON.parse(myJSON);
      // document.getElementById("demo").innerHTML = myobj[0].name;
      // document.getElementById("prices").innerHTML = myobj[0].price;
      // console.log(myobj);

    </script>
  </body>
</html>
{% endblock content %}