{% extends "dozenDuty_app/base.html" %}
{% block content %}
    <div>
        <h1> Chores </h1>
        <form action="{% url 'groceries-search_results' %}" method="get">
            <input name="q" type="text" placeholder="Search In Grocery...">
            <input class="btn btn-success btn-sm mt-1 mb-1" type="submit" value="Search"/>
        </form>
        <form action="/groceries/add/" method="post">
            {% csrf_token %}
            <div>
                <div>
                    <input type="date" name="purchaseDate"> (Purchase Date)
                </div>
                <div>
                    <input type="date" name="ExpirationDate"> (Expiration Date)
                </div>
            </div>
            <div>
                <input type="number" name="memberID" placeholder="Member's ID">
            </div>
            <div>
                <input type="text" name="ItemType" placeholder="Item Type">
            </div>
            <div>
                <input type="text" name="groceryName" placeholder="Grocery Name">
                <input type="number" step="0.01" name="unitPrice" placeholder="Unit Price">
                <input type="number" step="0.01" name="quantity" placeholder="Quantity">
                <select name="ItemUnit" id="unit">
                    <option value="CTs">Count</option>
                    <option value="OZs">Ounces</option>
                    <option value="LBs">Pounds</option>
                    <option value="Servings">Servings</option>
                </select>
            </div>
            
            <input class="btn btn-primary btn-sm mt-1 mb-1" type="submit" value="Add A New Grocery!"/>
        </form>
    </div>
    <br>

    {% for grocery in groceries %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ grocery.6 }}</a>
              <small class="text-dark">{{ grocery.1 }}</small>
              <small class="text-muted"> purchased on </small>
              <small class="text-success">{{ grocery.4|date:"F d, Y" }}</small>
            </div>
            <h2>
                <h3 class="article-title">
                    {{ grocery.0 }}: ${{ grocery.9 }}
                    <form action="/groceries/{{grocery.8}}/detail/" style="display: inline;"method="post">
                        {% csrf_token %}
                        <input class="btn btn-warning btn-sm mt-1 mb-1" type="submit" value="View Details"/>
                    </form>
                </h3>
            </h2>
            <small class='text-danger'>This item will be expired on {{ grocery.5|date:"F d, Y" }}</small>
          </div>
        </article>
    {% endfor %}
{% endblock content %}