{% extends "dozenDuty_app/base.html" %}
{% block content %}

<!-- c.choreID, c.name, m.memberName, c.assignDate, c.dueDate, c.status -->

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <div>
                <a class="mr-2" href="#">{{ chore.2 }}</a>
                <small class="text-muted"> Assigned on </small>
                <small class="text-success">{{ chore.3|date:"F d, Y" }}</small>
            </div>
        </div>
        <h1 class="article-title">
            {{ chore.1 }}
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'chores' %}" style="float: right;">Back to Chores</a>
        </h1>
        <div>
            <div>
                <text> Status: </text>
                {% if chore.5 == "DONE" %}
                    <text class='text-success'> {{ chore.5 }} </text>
                {% elif chore.5 == "IN PROGRESS" %}
                    <text class='text-warning'> {{ chore.5 }} </text>
                {% else %}
                    <text class='text-danger'> {{ chore.5 }} </text>
                {% endif %}
                <br>
                <text> Weight: <text class='text-info'> {{ chore.6 }} </text> </text>
                <br>
                <text> 
                    Tools Needed:
                    {% if tools %}
                        {% for tool in tools %}
                            <text class='text-primary'>{{ tool }}, </text>
                        {% endfor %}
                    {% else %}
                        <text class='text-primary'> N/A </text>
                    {% endif %}
                </text>
                <br>
                <text> Due Date: <b class='text-muted'>{{ chore.4|date:"F d, Y" }}</b> </text>
            </div>
        </div>
        <br>
        <div>
            <h4> Update this chore: </h4>
            <form action="/chores/{{chore.0}}/update/" style="display: inline;" method="post">
                {% csrf_token %}
                <div>
                    <select name="status" id="status">
                        <option value=""> &nbsp; </option>
                        <option value="NOT STARTED">NOT STARTED</option>
                        <option value="IN PROGRESS">IN PROGRESS</option>
                        <option value="DONE">DONE</option>
                    </select> (Chore Status)
                </div>
                <div>
                    <div>
                        <input type="date" name="assignDate"> (Date Assigned)
                    </div>
                    <div>
                        <input type="date" name="dueDate"> (Due Date)
                    </div>
                </div>               
                <div>
                    <select name="memberID" id="memberID" value="{{chore.2}}">
                        <option value=""> &nbsp; </option>
                        {% for member in members %}
                            <option value= {{ member.0 }}> {{ member.1 }} </option>
                        {% endfor %}
                    </select> (Member's ID)
                </div>
                <div>
                    <input type="text" name="choreName" placeholder="Chore Name" value="{{chore.1}}">
                </div>
                <div>
                    <input type="text" name="tools" placeholder="Tools Needed"> *Note: Please Split the tools with "; "
                </div>
                <input class="btn btn-warning btn-sm mt-1 mb-1" type="submit" value="Update"/>
            </form>
            
            <form action="/chores/{{chore.0}}/remove/" style="display: inline;"method="post">
                {% csrf_token %}
                <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Remove"/>
            </form>
        </div>
    </div>
  </article>
{% endblock content %}