{% extends "dozenDuty_app/base.html" %}
{% block content %}
    <div>
        <h1> Chores </h1>
        <form action="{% url 'chores-search_results' %}" method="get">
            <input name="q" type="text" placeholder="Search In Chores...">
            <input class="btn btn-success btn-sm mt-1 mb-1" type="submit" value="Search"/>
        </form>
        
        <form action="/chores/add/" method="post">
            {% csrf_token %}
            <div>
                <select name="weight" id="weight">
                    <option value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4 </option>
                    <option value="5"> 5 </option>
                </select> (Chore Weight)
            </div>
            <div>
                <div>
                    <input type="date" name="assignDate"> (Date Assigned)
                </div>
                <div>
                    <input type="date" name="dueDate"> (Due Date)
                </div>
            </div>
            <div>
                <select name="memberID" id="memberID">
                    {% for member in members %}
                        <option value= {{ member.0 }}> {{ member.1 }} </option>
                    {% endfor %}
                </select> (Member's ID)
            </div>
            <div>
                <input type="text" name="choreName" placeholder="Chore Name">
            </div>
            
            <input class="btn btn-primary btn-sm mt-1 mb-1" type="submit" value="Assign Chore"/>
        </form>
    <br>

   <!--  Display the Chores in Database 
        c.choreID, c.name, m.memberName, c.assignDate, c.dueDate, c.status
    -->
    {% for chore in chores %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ chore.2 }}</a>
              <small class="text-muted"> Assigned on </small>
              <small class="text-success">{{ chore.3|date:"F d, Y" }}</small>
            </div>
            <h2>
                <h3 class="article-title">
                    {{ chore.1 }}
                    <form action="/chores/{{chore.0}}/detail/" style="display: inline;"method="post">
                        {% csrf_token %}
                        <input class="btn btn-warning btn-sm mt-1 mb-1" type="submit" style="float: right;" value="View Details"/>
                    </form>
                </h3>
            </h2>
            <div>
                <text> Status: </text>
                {% if chore.5 == "DONE" %}
                    <text class='text-success'> {{ chore.5 }} </text>
                {% elif chore.5 == "IN PROGRESS" %}
                    <text class='text-warning'> {{ chore.5 }} </text>
                {% else %}
                    <text class='text-danger'> {{ chore.5 }} </text>
                {% endif %}
                <br>
                <text> Due Date: <b>{{ chore.4|date:"F d, Y" }}</b> </text>
            </div>
          </div>
        </article>
    {% endfor %}

</div>
{% endblock content %}