{% extends "dozenDuty_app/base.html" %}
{% block content %}
    <div>
        <h1>
            Members
        </h1>
        <form action="/members/add/" method="post">
            {% csrf_token %}
            <input type="text" name="memberName" placeholder="New Member Name">
            <input class="btn btn-primary btn-sm mt-1 mb-1" type="submit" value="Add A New Member!"/>
        </form>
        <form action="{% url 'members-search_results' %}" method="get">
            <input name="q" type="text" placeholder="Search Member...">
            <input class="btn btn-success btn-sm mt-1 mb-1" type="submit" value="Search"/>
        </form>
    </div>
    <br>
    <div>
        {% for member in members %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <small class="mr-2">Member ID: {{ member.0 }}</small>
                    </div>
                    <h3 class="article-title">{{ member.1 }}
                        <form action="/members/{{member.0}}/detail/" style="display: inline;"method="post">
                            {% csrf_token %}
                            <input class="btn btn-warning btn-sm mt-1 mb-1" type="submit" value="View Details"/>
                        </form>
                    </h3>
                    <div>
                        {% if member.2 < 0 %}
                            <small class='text-danger'>
                                Current Balance: ${{ member.2 }}
                            </small>
                        {% elif member.2 == 0 %}
                            <small class='text-success'>
                                Current Balance: ${{ member.2 }}0
                            </small>
                        {% else %}
                            <small class='text-success'>
                                Current Balance: ${{ member.2 }}
                            </small>
                        {% endif %}
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
    <br>
    <div>
        
    </div>
{% endblock content %}
