{% extends "dozenDuty_app/base.html" %}
{% block content %}

<!-- m.memberId, m.memberName, mo.moneyID, mo.borrowerID, mo.lenderID, mo.amount -->

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <span
                class="align-bottom">Member ID: {{ member.0 }} 
            </span>
        </div>
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'members' %}" style="float: right;" >Back to Members</a>
        
        <h3 class="article-title align-bottom">{{ member.1 }} </h3>
        
        <br>

        <h4> Account Balance Details: </h4>
        <div>
            {% for debt in debts %}
            <div>  
                {{debt.1}} needs to give
                {% if debt.3 < 0 %}
                    <medium class='text-success'>
                         $ {{ debt.3 }}
                    </medium>
                {% elif debt.3  == 0 %}
                    <medium class='text-success'>
                         $ &nbsp;{{ debt.3 }}0
                    </medium>
                {% else %}
                    <medium class='text-danger'>
                         $ &nbsp;{{ debt.3 }}
                    </medium>
                {% endif %}
                <medium class="mr-1" > to {{debt.2}} </medium>
            </div>
            {% endfor %}
        </div>

        <br>
        
        <h4> Update this Member: </h4>
            <form action="/members/{{member.0}}/update/" style="display: inline;" method="post">
                {% csrf_token %}
                <input class="article-title"type="text" name="memberName" Value = {{member.1}} />
                <input class="btn btn-secondary btn-sm mt-1 mb-1" type="submit" value="Update"/>
            </form>
            <form action="/members/{{member.0}}/remove/" style="display: inline;"method="post">
                {% csrf_token %}
                <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Remove"/>
            </form>
        </h2>
    </div>
</article>
{% endblock content %}